<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Upload page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<h1>Upload Image</h1>
		<form action="/upload/" method="post" enctype="multipart/form-data">
			<input type="file" name="image" />
			<button type="submit">upload</button>
		</form>
	</body>
</html>
